<p id="notice"><%= notice %></p>

<h1>Weeklogs</h1>

<table>
  <thead>
    <tr>
      <th>Start date code</th>
      <th>End date code</th>
      <th>Weekly incentive</th>
      <th>Incentive total</th>
      <th>Wins</th>
      <th>Losses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weeklogs.each do |weeklog| %>
      <tr>
        <td><%= weeklog.start_date_code %></td>
        <td><%= weeklog.end_date_code %></td>
        <td><%= weeklog.weekly_incentive %></td>
        <td><%= weeklog.incentive_total %></td>
        <td><%= weeklog.wins %></td>
        <td><%= weeklog.losses %></td>
        <td><%= link_to 'Show', weeklog %></td>
        <td><%= link_to 'Edit', edit_weeklog_path(weeklog) %></td>
        <td><%= link_to 'Destroy', weeklog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weeklog', new_weeklog_path %>
