<%= form_with(model: daylog, local: true) do |form| %>
  <% if daylog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daylog.errors.count, "error") %> prohibited this daylog from being saved:</h2>

      <ul>
      <% daylog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_code %>
    <%= form.number_field :date_code, id: :daylog_date_code %>
  </div>

  <div class="field">
    <%= form.label :incentive_total %>
    <%= form.number_field :incentive_total, id: :daylog_incentive_total %>
  </div>

  <div class="field">
    <%= form.label :strikes %>
    <%= form.number_field :strikes, id: :daylog_strikes %>
  </div>

  <div class="field">
    <%= form.label :win %>
    <%= form.check_box :win, id: :daylog_win %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
