<%= form_with(model: rule, local: true) do |form| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :rule_name %>
  </div>

  <div class="field">
    <%= form.label :demerit_id %>
    <%= form.text_field :demerit_id, id: :rule_demerit_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
